<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rows</key>
		<array>
			<string>srvr</string>
			<string>port</string>
			<string>ptcl</string>
			<string>labl</string>
			<string>acct</string>
			<string>data</string>
			<string>protection_class</string>
			<string>agrp</string>
			<string>rowid</string>
		</array>
		<key>title</key>
		<string>Password</string>
	</dict>
</array>
</plist>
