Package: com.sogeti.esec-lab.keychainviewer
Name: Keychain Viewer
Version: 0.5
Architecture: iphoneos-arm
Description: Keychain Viewer
Author: Sogeti ESEC R&D lab
Homepage: http://iphone-dataprotection.googlecode.com
Section: Security
